---
export interface Props {
	subtitle: string;
	title: string;
    year: number;
}

const { title, subtitle, year } = Astro.props;
---
<footer>
    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 md:flex md:items-center md:justify-center lg:px-8">
        <div class="mt-8 md:order-1 md:mt-0">
            <p class="text-center text-base text-gray-400">
                &copy; {year} {title}. {subtitle}
            </p>
            <p class="text-center text-base text-gray-400">
                Make with <a href="https://github.com/Muniz-Autocenter" class="text-primary">AstroBIT TI Solutions</a>
            </p>
        </div>
    </div>
</footer>