---
export interface Props {
	title: string;
	emoji: string;
    href: string;
}

const { title, emoji, href } = Astro.props;
---

<div class="cursor-pointer relative flex items-center space-x-3 rounded-lg border-2 border-primary bg-white px-6 py-5 focus-within:ring-2 focus-within:ring-indigo-500 hover:border-primary p-4 shadow-md hover:shadow-xl">
    <div class="min-w-0 flex-1">
        <a href={href} class="focus:outline-none">
            <p class=" text-xl font-medium text-gray-900">{emoji} {title}</p>
        </a>
    </div>
</div>